{% extends 'base/layout.html' %}

{% load static %}

{% load i18n %}

{% block content %}
  <!-- Breadcrumb -->
  <section class="breadcrumb-area fix theme-dark-bg bg_img">
    <div class="small-shape small-shape__1">
      <img src="{% static 'assets/images/shapes/small-shape-1.png' %}" alt="" />
    </div>
    <div class="small-shape small-shape__2">
      <img src="{% static 'assets/images/shapes/small-shape-2.png' %}" alt="" />
    </div>
    <div class="small-shape small-shape__3">
      <img src="{% static 'assets/images/shapes/small-shape-3.png' %}" alt="" />
    </div>
    <div class="small-shape small-shape__4">
      <img src="{% static 'assets/images/shapes/small-shape-4.png' %}" alt="" />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="codeshift-breadcrumb-wrapper position-relative pt-190 pb-190">
            <h2 class="page-title">{% trans 'About CodeShift' %}</h2>
            <div class="codeshift-breadcrumb breadcrumbs">
              <ul class="list-unstyled d-flex align-items-center">
                <li class="codeshift-item duxinbcrumb-begin">
                  <a href="{% url 'base:home' %}"><span>{% trans 'Home Page' %}</span></a>
                </li>
                <li class="codeshift-item duxinbcrumb-end">
                  <span>{% trans 'About us' %}</span>
                </li>
              </ul>
            </div>
            <div class="right-img">
              <img src="{% static 'assets/images/bg/breadcrumb-bg.png' %}" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- About Section -->
  <div class="codeshift-about-section codeshift-about-section__style-2 pt-125 pb-130">
    <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <div class="codeshift-section-heading codeshift-section-heading__style-2">
            <span class="sub-heading">{% trans 'ABOUT US' %}</span>
            <h2 class="heading">{% trans 'We provide High-quality Services.' %}</h2>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="abt-desc">
            <p>
              {% blocktrans trimmed %}
                Since our founding, CodeShift has been a trusted provider of website and mobile app development services.
                Our company has a long history of creating innovative and high-quality digital products that help businesses
                and organizations connect with their target audience. With a team of experienced professionals who are passionate
                about digital solutions, we have established ourselves as a leading provider in the industry. Our commitment to delivering
                outstanding results and providing exceptional customer service has helped us build long-lasting relationships with our clients.
                Choose CodeShift, and benefit from our years of experience and expertise in the digital solutions space.
              {% endblocktrans %}
            </p>
          </div>
        </div>
        <div class="col-xl-12">
          <div class="codeshift-video-img mt-75">
            <div class="thumb">
              <img src="{% static 'assets/images/bg/about-bg-1.jpg' %}" alt="" />
            </div>
            <a href="http://youtube.com/embed/4xe72U7mXNg?rel=0&amp;controls=0&amp;showinfo=0" data-rel="lightcase" class="codeshift-video-btn">
              <i class="fas fa-play"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mission Section -->
  <div class="codeshift-mission-section mb-5">
    <div class="container">
      <div class="row mt-none-30">
        <div class="col-xl-4 col-lg-6 col-md-6 mt-30">
          <div class="codeshift-mission-box wow fadeInUp" data-wow-delay="00ms" data-wow-duration="800ms">
            <div class="icon icon__1">
              <img src="{% static 'assets/images/icons/mission-1.png' %}" alt="" />
            </div>
            <div class="content mt-25">
              <h2 class="title">{% trans 'Our History' %}</h2>
              <p>
                {% blocktrans trimmed %}
                  For over 6 years, CodeShift has been a visionary and reliable software engineering partner
                  for world-class brands. We provide innovative and high-quality digital solutions tailored to
                  each client's unique needs. With our years of experience and expertise, we guide you every step
                  of the way, from concept to launch. Choose CodeShift for outstanding results and exceptional customer service.
                {% endblocktrans %}
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 mt-30">
          <div class="codeshift-mission-box wow fadeInUp" data-wow-delay="200ms" data-wow-duration="800ms">
            <div class="icon icon__2">
              <img src="{% static 'assets/images/icons/mission-2.png' %}" alt="" />
            </div>
            <div class="content mt-25">
              <h2 class="title">{% trans 'Our mission' %}</h2>
              <p>
                {% blocktrans trimmed %}
                  At CodeShift, we help our clients succeed in the digital world. We work closely with you to
                  understand your unique needs and design custom solutions that achieve your business goals.
                  From user-friendly websites to cutting-edge mobile apps, our innovative digital solutions are
                  tailored to your specific requirements. Choose CodeShift for a partner that's committed to your success.
                {% endblocktrans %}
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 mt-30">
          <div class="codeshift-mission-box wow fadeInUp" data-wow-delay="400ms" data-wow-duration="800ms">
            <div class="icon icon__3">
              <img src="{% static 'assets/images/icons/mission-3.png' %}" alt="" />
            </div>
            <div class="content mt-25">
              <h2 class="title">{% trans 'Our vision' %}</h2>
              <p>
                {% blocktrans trimmed %}
                  At CodeShift, we're passionate about delivering cutting-edge technology and outstanding design.
                  Our expertise in a wide range of technologies enables us to make a real impact for our clients.
                  We approach every project with a focus on innovation and collaboration, delivering results that
                  exceed expectations. Choose us as your digital solutions partner and benefit from our commitment
                  to excellence in technology and design.
                {% endblocktrans %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Achivement Section -->
  <div class="codeshift-achivement-section theme-light-bg pt-130 pb-130">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-10 col-md-12 align-self-center">
          <div class="codeshift-section-heading codeshift-section-heading__style-2">
            <span class="sub-heading">{% trans 'achievement' %}</span>
            <h2 class="heading mb-20">{% trans 'Some number of our achivement' %}</h2>
            <div class="stocox-faq-wrapper faq__wrapper"></div>
          </div>
        </div>
        <div class="col-xl-8">
          <div class="codeshift-achivement-boxs codeshift-achivement-boxs__style-2 ml-100">
            <div class="box-item box-item__style-2 active">
              <div class="icon">
                <img src="{% static 'assets/images/icons/achivement-2.png' %}" alt="" />
              </div>
              <div class="content">
                <h2 class="title d-flex align-items-end justify-content-center mt-30">
                  <span class="odometer" data-count="40+">00</span>
                  <span class="sign">+</span>
                </h2>
                <p>{% trans 'Satisfied Clients' %}</p>
              </div>
              <div class="shape"><img src="{% static 'assets/images/shapes/achivement-shape.png' %}" alt="" /></div>
            </div>
            <div class="box-item box-item__style-2">
              <div class="icon">
                <img src="{% static 'assets/images/icons/achivement-1.png' %}" alt="" />
              </div>
              <div class="content">
                <h2 class="title d-flex align-items-end justify-content-center mt-30">
                  <span class="odometer" data-count="50+">00</span>
                  <span class="sign">+</span>
                </h2>
                <p>{% trans 'Project Completed' %}</p>
              </div>
            </div>
            <div class="box-item box-item__style-2">
              <div class="icon">
                <img src="{% static 'assets/images/icons/achivement-3.png' %}" alt="" />
              </div>
              <div class="content">
                <h2 class="title d-flex align-items-end justify-content-center mt-30">
                  <span class="odometer" data-count="80">00</span>
                  <span class="sign">+</span>
                </h2>
                <p>{% trans 'Bands Joined' %}</p>
              </div>
            </div>
            <div class="box-item box-item__style-2">
              <div class="icon">
                <img src="{% static 'assets/images/icons/achivement-4.png' %}" alt="" />
              </div>
              <div class="content">
                <h2 class="title d-flex align-items-end justify-content-center mt-30">
                  <span class="odometer" data-count="10">00</span>
                  <span class="sign">+</span>
                </h2>
                <p>{% trans 'Team Member' %}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- WCU Section -->
  <div class="codeshift-about-section codeshift-about-section__style-2 pt-130 pb-130">
    <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <div class="codeshift-section-heading codeshift-section-heading__style-2">
            <span class="sub-heading">{% trans 'why choose us' %}</span>
            <h2 class="heading">{% trans 'Custom IT solutions <br />for your business'|linebreaks %}</h2>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="abt-desc">
            <p>
              {% blocktrans trimmed %}
                At CodeShift, our top priority is helping our clients succeed. We believe that when our clients thrive,
                we thrive. That's why we approach every project with a focus on delivering exceptional value and building
                long-lasting relationships with our clients. Whether you're looking to launch a cutting-edge website or mobile app,
                or you want to take your existing digital products to the next level, we're here to help. With our innovative solutions
                and passionate team of professionals, we're dedicated to delivering outstanding results that exceed your expectations.
                Choose CodeShift and experience the difference that comes from partnering with a digital solutions provider that truly cares about your success.
              {% endblocktrans %}
            </p>
          </div>
        </div>
        <div class="col-xl-12">
          <div class="codeshift-video-img mt-75">
            <div class="thumb">
              <img src="{% static 'assets/images/bg/about-bg-2.jpg' %}" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
