{% extends 'base/layout.html' %}

{% load static %}

{% load i18n %}

{% block content %}
<!-- Hero Section -->
<section class="codeshift-hero-section pb-90 pt-80">
  <div class="shape shape__1 position-absolute wow fadeInUp" data-wow-delay="300ms" data-wow-duration="800ms">
    <img src="{% static 'assets/images/shapes/hero-shape-1.png' %}" alt="" />
  </div>
  <div class="shape shape__2 position-absolute wow fadeInUp" data-wow-delay="600ms" data-wow-duration="800ms">
    <img src="{% static 'assets/images/shapes/hero-shape-2.png' %}" alt="" />
  </div>
  <div class="container">
    <div class="row flex-lg-row flex-md-column-reverse">
      <div class="col-xl-5 col-lg-5">
        <div class="inner-content">
          <h1 class="title wow fadeInUp" data-wow-delay="200ms" data-wow-duration="800ms">
            {% trans 'Empower your business with innovative digital solutions.' %}
          </h1>
          <div class="inner-btns mt-50">
            <a href="{% url 'portfolio:portfolio' %}" class="codeshift-btn wow fadeInUp" data-wow-delay="500ms"
              data-wow-duration="800ms">{% trans 'Our Projects' %}<span></span></a>
          </div>
          <div class="codeshift-social-links mt-140">
            <a href="{{ facebook }}" class="wow fadeInUp" data-wow-delay="200ms" data-wow-duration="800ms"
              target="_blank">
              <i class="fab fa-facebook-f"></i> <span>Facebook</span>
            </a>
            <a href="{{ instagram }}" class="wow fadeInUp" data-wow-delay="800ms" data-wow-duration="800ms"
              target="_blank">
              <i class="fab fa-instagram"></i> <span>Instagram</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-7 col-lg-7">
        <div class="inner-right">
          <div class="review-wrapper">
            <div class="item">
              <div class="icon">
                <img src="{% static 'assets/images/icons/growth.png' %}" alt="" />
              </div>
              <div class="content">
                <h6>100% {% trans 'Business Growth' %}</h6>
                <p><i class="fas fa-star"></i> <span>4.9</span></p>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <h6>40+ {% trans 'Happy Clients' %}</h6>
                <p><i class="fas fa-star"></i> <span>4.9</span></p>
              </div>
            </div>
          </div>
          <div class="img-wrapper wow zoomIn" data-wow-delay="700ms" data-wow-duration="800ms">
            <img style="margin-bottom: 53px" src="{% static 'assets/images/hero/work.png' %}" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Project Section -->
<div class="codeshift-project-section pt-130 pb-130 theme-light-bg">
  <div class="container">
    <div class="row">
      <div class="col-xl-4">
        <div class="content-left-wrapper">
          <div class="codeshift-section-heading">
            <span class="sub-heading">{% trans 'RECENT PROJECTS' %}</span>
            <h2 class="heading mb-25">{% trans 'Our latest projects' %}</h2>
            <p>
              {% trans 'Since 2015 we have been a visionary and a reliable software engineering partner for national brands.' %}
            </p>
          </div>
          <a href="{% url 'portfolio:portfolio' %}" class="codeshift-btn mt-45">{% trans 'More Projects' %}<span></span></a>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="codeshift-project-wrapper">
          <div class="row codeshift-project-grid mt-none-30">
            {% for item in projects %}
            <!-- Item -->
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 cat-{{ item.category.id }} mt-30 grid">
              <div class="codeshift-project-item">
                <div class="thumb">
                  <img class="home-project-img" src="{{ item.cover.url }}" alt="" />
                </div>
                <div class="content project-content">
                  <h4 class="title"><a href="{% url 'portfolio:project' pk=item.id %}">{{ item.name }}</a></h4>
                  <span class="cat">{{ item.title }}</span>
                  <a href="{% url 'portfolio:project' pk=item.id %}" class="inline-btn">
                    <i class="far fa-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Information Section -->
<div class="codeshift-card-section theme-light-bg pt-130">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="codeshift-card-wrapper d-flex justify-content-between align-items-center">
          <div class="codeshift-card-box wow fadeInUp" data-wow-delay="00ms" data-wow-duration="800ms">
            <div class="icon">
              <img src="{% static 'assets/images/icons/card-icon-1.png' %}" alt="" />
            </div>
            <div class="content">
              <h4 class="title">{% trans 'Cross-Industry Expertise' %}</h4>
            </div>
            <div class="codeshift-dots">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="codeshift-card-box codeshift-card-box__2 wow fadeInUp" data-wow-delay="200ms"
            data-wow-duration="800ms">
            <div class="icon">
              <img src="{% static 'assets/images/icons/card-icon-2.png' %}" alt="" />
            </div>
            <div class="content">
              <h4 class="title">{% trans 'Expertise & Leadership' %}</h4>
            </div>
            <div class="codeshift-dots">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="codeshift-card-box codeshift-card-box__3 wow fadeInUp" data-wow-delay="500ms"
            data-wow-duration="800ms">
            <div class="icon">
              <img src="{% static 'assets/images/icons/card-icon-3.png' %}" alt="" />
            </div>
            <div class="content">
              <h4 class="title">{% trans 'Dedicate IT Solution' %}</h4>
            </div>
            <div class="codeshift-dots">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Brand Section -->
<div class="codeshift-brand-section pt-125 pb-130">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6">
        <div class="codeshift-section-heading text-center mb-60">
          <span class="sub-heading">{% trans 'we serve all industries' %}</span>
          <h2 class="heading">{% trans 'Top industries' %}</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-none-30">
      <div class="col-xl-3 col-lg-4 col-md-6 mt-30">
        <div class="codeshift-brand-box codeshift-brand-box__1 wow fadeInUp" data-wow-delay="0ms"
          data-wow-duration="800ms">
          <div class="icon">
            <img src="{% static 'assets/images/icons/brand-icon-1.png' %}" alt="" />
          </div>
          <div class="content">
            <h6 class="title">{% trans 'Travel & Tourism' %}</h6>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 mt-30">
        <div class="codeshift-brand-box codeshift-brand-box__2 wow fadeInUp" data-wow-delay="200ms"
          data-wow-duration="800ms">
          <div class="icon">
            <img src="{% static 'assets/images/icons/brand-icon-2.png' %}" alt="" />
          </div>
          <div class="content">
            <h6 class="title">{% trans 'Industry & Finance' %}</h6>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 mt-30">
        <div class="codeshift-brand-box codeshift-brand-box__3 wow fadeInUp" data-wow-delay="300ms"
          data-wow-duration="800ms">
          <div class="icon">
            <img src="{% static 'assets/images/icons/brand-icon-3.png' %}" alt="" />
          </div>
          <div class="content">
            <h6 class="title">{% trans 'Media & Entertainment' %}</h6>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 mt-30">
        <div class="codeshift-brand-box codeshift-brand-box__4 wow fadeInUp" data-wow-delay="400ms"
          data-wow-duration="800ms">
          <div class="icon">
            <img src="{% static 'assets/images/icons/brand-icon-4.png' %}" alt="" />
          </div>
          <div class="content">
            <h6 class="title">{% trans 'Hotels & Restaurant' %}</h6>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 mt-30">
        <div class="codeshift-brand-box codeshift-brand-box__5 wow fadeInUp" data-wow-delay="500ms"
          data-wow-duration="800ms">
          <div class="icon">
            <img src="{% static 'assets/images/icons/brand-icon-5.png' %}" alt="" />
          </div>
          <div class="content">
            <h6 class="title">{% trans 'Healthcare Solution' %}</h6>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 mt-30">
        <div class="codeshift-brand-box codeshift-brand-box__6 wow fadeInUp" data-wow-delay="600ms"
          data-wow-duration="800ms">
          <div class="icon">
            <img src="{% static 'assets/images/icons/brand-icon-6.png' %}" alt="" />
          </div>
          <div class="content">
            <h6 class="title">{% trans 'E-learning & Education' %}</h6>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 mt-30">
        <div class="codeshift-brand-box codeshift-brand-box__7 wow fadeInUp" data-wow-delay="700ms"
          data-wow-duration="800ms">
          <div class="icon">
            <img src="{% static 'assets/images/icons/brand-icon-7.png' %}" alt="" />
          </div>
          <div class="content">
            <h6 class="title">{% trans 'Web Development' %}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
