{% extends 'base/layout.html' %} 

{% load static %} 

{% load i18n %}

{% block content %}
<!-- Breadcrumb -->
<section class="breadcrumb-area fix theme-dark-bg bg_img">
  <div class="small-shape small-shape__1">
    <img src="{% static 'assets/images/shapes/small-shape-1.png' %}" alt="" />
  </div>
  <div class="small-shape small-shape__2">
    <img src="{% static 'assets/images/shapes/small-shape-2.png' %}" alt="" />
  </div>
  <div class="small-shape small-shape__3">
    <img src="{% static 'assets/images/shapes/small-shape-3.png' %}" alt="" />
  </div>
  <div class="small-shape small-shape__4">
    <img src="{% static 'assets/images/shapes/small-shape-4.png' %}" alt="" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="codeshift-breadcrumb-wrapper position-relative pt-190 pb-190">
          <h2 class="page-title">{% trans 'Portfolio' %}</h2>
          <div class="codeshift-breadcrumb breadcrumbs">
            <ul class="list-unstyled d-flex align-items-center">
              <li class="codeshift-item duxinbcrumb-begin">
                <a href="{% url 'base:home' %}"><span>{% trans 'Home Page' %}</span></a>
              </li>
              <li class="codeshift-item duxinbcrumb-end">
                <span>{% trans 'Portfolio' %} </span>
              </li>
            </ul>
          </div>
          <div class="right-img">
            <img src="{% static 'assets/images/bg/breadcrumb-bg.png' %}" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Projects Section -->
<div class="codeshift-project-section codeshift-project-section__style-2 pt-130 pb-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6">
        <div class="codeshift-section-heading codeshift-section-heading__style-2 text-center mb-50">
          <span class="sub-heading">{% trans 'Portfolio' %}</span>
          <h2 class="heading">{% trans 'Our recent projects' %}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="content-left-wrapper">
          <ul class="codeshift-project-filter codeshift-project-filter__style-2 list-unstyled d-flex align-items-center">
            <li {% if selected == 0 %}class="active"{% endif %} data-filter="">All</li>
            {% for category in categories %}
              <li {% if selected == category.id %}class="active"{% endif %} data-filter=".cat-{{ category.id }}">{{ category.name }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="codeshift-project-wrapper mt-50">
          <div class="row codeshift-project-grid mt-none-30">
            {% for project in projects %}
            <div class="col-xl-6 col-lg-6 cat-{{ project.category.id }} mt-30 grid">
              <div class="codeshift-project-item codeshift-project-item__style-2">
                <div class="content">
                  <h4 class="title"><a href="{% url 'portfolio:project' pk=project.id %}">{{ project.name }}</a></h4>
                  <a href="{% url 'portfolio:project' pk=project.id %}" class="inline-btn">
                    <i class="far fa-arrow-right"></i>
                  </a>
                </div>
                <div class="thumb">
                  <img class="portfolio-img" src="{{ project.cover.url }}" alt="" />
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% comment %} <div class="col-xl-12 text-center mt-60">
        <a href="#" class="codeshift-btn">Discover More Projects</a>
      </div> {% endcomment %}
    </div>
  </div>
</div>
{% endblock content %}
