{% extends 'base/layout.html' %} 

{% load static %} 

{% block content %}
<!-- Breadcrumb -->
<section class="breadcrumb-area fix theme-dark-bg bg_img">
  <div class="small-shape small-shape__1">
    <img src="{% static 'assets/images/shapes/small-shape-1.png' %}" alt="" />
  </div>
  <div class="small-shape small-shape__2">
    <img src="{% static 'assets/images/shapes/small-shape-2.png' %}" alt="" />
  </div>
  <div class="small-shape small-shape__3">
    <img src="{% static 'assets/images/shapes/small-shape-3.png' %}" alt="" />
  </div>
  <div class="small-shape small-shape__4">
    <img src="{% static 'assets/images/shapes/small-shape-4.png' %}" alt="" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="codeshift-breadcrumb-wrapper position-relative pt-190 pb-190">
          <h2 class="page-title">{{ project.name }}</h2>
          <div class="codeshift-breadcrumb breadcrumbs">
            <ul class="list-unstyled d-flex align-items-center">
              <li class="codeshift-item duxinbcrumb-begin">
                <a href="{% url 'base:home' %}"><span>Home Page</span></a>
              </li>
              <li class="codeshift-item duxinbcrumb-begin">
                <a href="{% url 'portfolio:index' %}"><span>Portfolio</span></a>
              </li>
              <li class="codeshift-item duxinbcrumb-end">
                <span>{{ project.name }} </span>
              </li>
            </ul>
          </div>
          <div class="right-img">
            <img src="{% static 'assets/images/bg/breadcrumb-bg.png' %}" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Project Details Section -->
<div class="codeshift-details-page pt-130 pb-130">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="details-thumb mb-50">
          <img class="portfolio-details-banner-img" src="{{ project.banner.url }}" alt="" />
        </div>
        <div class="details-content">
          <h2 class="codeshift-title mb-25">{{ project.title }}</h2>
          <p>{{ project.description|linebreaks }}</p>
          <div class="navigation-border pb-25"></div>
          <ul class="list-unstyled portfolio-meta">
            <li><span class="label">Client :</span> <span class="text">{{ project.client }}</span></li>
            <li><span class="label">Website :</span> <span class="text">{{ project.website }}</span></li>
            <li><span class="label">Category :</span> <span class="text">{{ project.category.name }}</span></li>
          </ul>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="portfolio-details-carousel mt-45 owl-carousel" data-portfolio-details-carousel>
          {% for item in project.images.all %}
            <!-- Item -->
            <div class="portfolio-details-carousel__item">
              <img class="portfolio-details-img" src="{{ item.image.url }}" alt="" />
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-xl-12 mt-90">
        <h2 class="codeshift-title mb-25">Project requirement</h2>
        <div class="row mt-none-15">
          <div class="col-12 mt-15">
            <ul class="list-unstyled Language-list-item d-flex row">
              {% for item in project.points.all %}
                <li class="col-6">
                  <img src="{% static 'assets/images/icons/double-arrow.png' %}" alt="" />
                  {{ item.point }}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="navigation-border mt-50"></div>
        <div class="codeshift-next-prev-wrapper mt-50">
          {% if project.previous %}
            <a href="{% url 'portfolio:project' pk=project.previous.id %}" class="codeshift-next-prev codeshift-next-prev__prev">
              <span class="icon"><i class="far fa-arrow-left"></i></span><span class="text">Previous</span>
            </a>
          {% endif %}
          {% if project.next %}
            <a href="{% url 'portfolio:project' pk=project.next.id %}" class="codeshift-next-prev codeshift-next-prev__next">
              <span class="text">Next</span><span class="icon"><i class="far fa-arrow-right"></i></span>
            </a>
          {% endif %}
        </div>
      </div>
      <div class="col-xl-12 mt-90">
        <h2 class="codeshift-title mb-40">Our similar projects</h2>
        <div class="codeshift-project-carousel owl-carousel codeshift-slide-nav codeshift-slide-nav__style-3" data-project-carousel>
          {% for item in project.category.projects.all %}
            {% if item.id != project.id %}
            <!-- Item -->
            <div class="codeshift-project-item codeshift-project-item__style-2">
              <div class="content">
                <h4 class="title">
                  <a href="{% url 'portfolio:project' pk=item.id %}">{{ item.name }}</a>
                </h4>
                <a href="{% url 'portfolio:project' pk=item.id %}" class="inline-btn">
                  <i class="far fa-arrow-right"></i>
                </a>
              </div>
              <div class="thumb">
                <img src="{{ item.cover.url }}" alt="" />
              </div>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
